.header {
  background: var(--blue);
  height: 100px;
}

.header .title {
  font-size: 4rem;
  margin-left: auto;
  text-align: center;
  color: var(--white);
}

.header .back {
  right: 0;
  position: absolute;
  top: 35px;
  margin-right: 15px;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--violet);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-weight: 600;
}

.options { 
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.options .content .btn {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: var(--blue);
}

.options .content .btn-active {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  margin: 5px 10px;
  background-color: var(--violet);
  color: var(--white);
}

.selection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.selection .label { 
  font-size: 2rem;
  margin-right: 15px;
  font-weight: 700;
}

.selection .buildings {
  background: var(--blue);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 700;
}
