.header {
  background: var(--blue);
  height: 100px;
}

.header .title {
  font-size: 4rem;
  margin-left: auto;
  text-align: center;
  
}

.header .back {
  right: 0;
  position: absolute;
  top: 35px;
  margin-right: 15px;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--violet);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
}

.options { 
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.options .content .btn {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: var(--blue);
}

.options .content .btn-active {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  margin: 5px 10px;
  background-color: var(--violet);
  color: var(--white);
}

.data .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 100px - 50px);
}
.data .wrapper .section {
  color: var(--black);
}
.data .wrapper .section .title {
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  color: var(--black);
}

.data .wrapper .section .subtitle {
  text-align: center;
  margin-top: 30px;
  color: var(--black);
  font-size: 3rem;
}

.data .wrapper .section .content {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-top: calc((100vh - 100px - 3rem) / 5);
}

.data .wrapper .section-3 .content,
.data .wrapper .section-4 .content {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-top: calc((100vh - 100px - 20rem) / 5);
  margin-bottom: 100px;
}
